<%= display_header title: @content_item.title,
                   breadcrumbs: [:branches, @content_item.title] do %>

  <% BranchesController::VISUALISATIONS.each do |viz| %>
    <a href="<%= branch_path(params[:id], viz: viz) %>"
       class="btn btn-lg <%= viz == visualisation_to_render ? 'btn-primary' : 'btn-default' %>"
       role="button">
      <%= viz.titlecase %>
    </a>
  <% end %>
<% end %>

<% if visualisation_to_render.in? BranchesController::VISUALISATIONS %>
  <%= render visualisation_to_render %>
<% else %>
  <h2>Unknown visualisation <%= visualisation_to_render %>
<% end %>

<p>
  Taxonomy branches:
<% GovukTaxonomy::Branches.new.all.each do |root_taxon| %>
  <% if root_taxon['content_id'] == @content_item.content_id %>
    <strong><%= root_taxon['title'] %></strong>
  <% else %>
    <%= link_to root_taxon['title'],
                id: root_taxon['content_id'],
                viz: visualisation_to_render %>
  <% end %>
<% end %>
</p>
