<% if tagged.any? || taxon.child_taxons.any? %>
<div class="alert alert-warning clearfix" role="warning">
  <p>
    <%= I18n.t('views.taxons.delete_warning_1') %>
    <ul>
      <li><%= I18n.t('views.taxons.delete_warning_2') %></li>
      <li><%= I18n.t('views.taxons.delete_warning_3') %></li>
    </ul>
  </p>

  <%= link_to taxon_path(taxon.content_id), method: :delete,
    class: 'btn btn-md btn-danger pull-right left-space' do %>
    <span class="glyphicon glyphicon-trash"></span>
    <span>
      <%= I18n.t('views.taxons.confirm_deletion') %>
    </span>
  <% end %>

  <%= link_to taxon_path(taxon.content_id), class: 'btn btn-md btn-default pull-right' do %>
    <span>
      <%= I18n.t('views.taxons.cancel_button') %>
    </span>
  <% end %>
</div>
<% else %>
  <%= link_to taxon_path(taxon.content_id), class: 'btn btn-md btn-default' do %>
    <span>
      <%= I18n.t('views.taxons.cancel_button') %>
    </span>
  <% end %>

  <%= link_to taxon_path(taxon.content_id), method: :delete,
    class: 'btn btn-md btn-danger left-space' do %>
    <span class="glyphicon glyphicon-trash"></span>
    <span>
      <%= I18n.t('views.taxons.confirm_deletion') %>
    </span>
  <% end %>
<% end %>
