<div class="tagged-content">
  <table class="table queries-list table-bordered table-striped" data-module="filterable-table">
    <thead>
      <tr class="table-header">
        <th>Page</th>
        <th>Format</th>
        <th></th>
        <th></th>
      </tr>

      <%= render partial: "shared/table_filter" %>
    </thead>

    <tbody>
      <% tagged.each do |content_item| %>
        <tr>
          <td><%= link_to content_item["title"], website_url(content_item["base_path"]) %></td>
          <td><%= content_item["document_type"].humanize %></td>
          <% if user_can_administer_taxonomy? %>
            <td>
              <%=
              link_to(
                t("views.taxons.edit_tagging"),
                tagging_url(content_item["content_id"]),
              )
              %>
            </td>
          <% end %>
          <td>
            <%=
              link_to(
                t("views.taxons.view_similar"),
                similar_search_results_url(content_item["base_path"]),
                target: "blank",
              )
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
