<div class="taxonomy-tree">
  <div class="taxon-parents">
    <% taxonomy_tree.immediate_parents.each do |parent_node| %>
      <div class="parent-expansion">
        <div class="taxon-level taxon-depth-1">
          <span class="taxon-level-title">
            <%= link_to parent_node.title, taxon_path(parent_node.content_id) %>
          </span>
        </div>
        <% parent_node.each do |parent_ancestor| %>
          <% next if parent_ancestor.node_depth == 1 %>
          <div class="taxon-level taxon-depth-<%= parent_ancestor.node_depth %>">
            <span class="taxon-level-title">
              <%= link_to parent_ancestor.title, taxon_path(parent_ancestor.content_id) %>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% has_parents = taxonomy_tree.immediate_parents.present? ? "taxon-focus--has-parents" : "" %>
  <% has_children = taxonomy_tree.immediate_children.present? ? "taxon-focus--has-children" : "" %>
  <% multiple_parents = taxonomy_tree.multiple_immediate_parents? ? "taxon-focus--multi-parents" : "" %>
  <% multiple_children = taxonomy_tree.multiple_immediate_children? ? "taxon-focus--multi-children" : "" %>

  <div class="taxon-focus <%= has_parents %> <%= has_children %> <%= multiple_parents %> <%= multiple_children %>">
    <div class="taxon-level taxon-depth-0">
       <span class="taxon-level-title">
         <%= taxonomy_tree.root_node.title %>
       </span>
    </div>
  </div>

  <div class="taxon-children">
    <% taxonomy_tree.immediate_children.each do |child_node| %>
      <div class="child-expansion">
        <div class="taxon-level taxon-depth-1">
          <span class="taxon-level-title">
            <%= link_to child_node.title, taxon_path(child_node.content_id) %>
          </span>
        </div>
        <% child_node.each do |child_successor| %>
          <% next if child_successor.node_depth == 1 %>
          <div class="taxon-level taxon-depth-<%= child_successor.node_depth %>">
            <span class="taxon-level-title">
              <%= link_to child_successor.title, taxon_path(child_successor.content_id) %>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
