<h1><%= t("views.taxons.confirm_deletion_title") %> "<%= page.taxon.title %>"</h1>

<div class="lead"><%= t("views.taxons.confirm_deletion_restore") %></div>

<% if page.tagged.any? || page.children.any? %>
<div class="alert alert-warning clearfix" role="warning">
  <p>
    <%= t("views.taxons.delete_warning_1") %>
    <ul>
      <li><%= t("views.taxons.delete_warning_2") %></li>
      <li><%= t("views.taxons.delete_warning_3") %></li>
    </ul>
  </p>
</div>
<% end %>

<%= simple_form_for page, url: taxon_path(page.taxon.content_id), method: :delete do |f| %>
  <%= f.input :redirect_to, collection: page.taxons_for_select,
    input_html: { class: :select2, multiple: false, include_blank: true } %>
  <%= f.input :do_tag, as: :boolean, value: true, label: "Tag content to parent?" %>
  <%= f.button :button, class: "btn btn-md btn-danger" do %>
    <span class="glyphicon glyphicon-trash"></span>
    <span><%= t("views.taxons.confirm_deletion") %></span>
  <% end %>

  <%= link_to taxon_path(page.taxon.content_id), class: "btn btn-md btn-default" do %>
    <span>
      <%= t("views.taxons.cancel_button") %>
    </span>
  <% end %>
<% end %>

<% if page.children.any? %>
  <h2>Children</h2>
  <table class="table queries-list table-bordered table-striped" data-module="filterable-table">
   <thead>
     <tr class="table-header">
       <th>Taxon</th>
     </tr>

     <%= render "shared/table_filter" %>
   </thead>

   <tbody>
     <% page.children.each do |child| %>
       <tr>
         <td><%= link_to child.title, taxon_path(child.content_id) %></td>
       </tr>
     <% end %>
   </tbody>
  </table>
<% end %>

<% if page.tagged.any? %>
  <h2>Tagged content</h2>
  <%= render "tagged_content", tagged: page.tagged %>
<% end %>
