<%= display_header title: t('views.taxons.title'), breadcrumbs: [t('navigation.taxons')] do %>
  <%= link_to new_taxon_path, class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-plus"></i>
      <%= I18n.t('views.taxons.add_taxon') %>
    </i>
  <% end %>
<% end %>

<div class="lead">
  Search for a taxon to see its place in the taxonomy, edit the taxon or move its content.
</div>

<%= render 'taxons/search', query: query %>

<table class="table queries-list table-bordered table-striped">
  <thead>
    <tr class="table-header">
      <th>Taxon</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% taxons.each do |taxon| %>
      <tr>
        <td><%= taxon.internal_name %></td>
        <td><%= link_to I18n.t('views.taxons.view'), taxon_path(taxon.content_id) %></td>
        <td><%= link_to I18n.t('views.taxons.edit'), edit_taxon_path(taxon.content_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate search_results, theme: 'twitter-bootstrap-3' %>
