<%= display_header title: t("views.taxons.#{params[:action]}.title"), breadcrumbs: [t('navigation.taxons')] do %>
  <%= link_to new_taxon_path, class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-plus"></i>
      <%= I18n.t('views.taxons.add_taxon') %>
    </i>
  <% end %>

  <%= link_to branches_path, class: 'btn btn-default' do %>
      <i class="glyphicon glyphicon-plus"></i>
        Manage branches
      </i>
  <% end %>

  <%= link_to download_taxons_path, class: 'btn btn-md btn-default' do %>
    <i class="glyphicon glyphicon-download"></i>
    Download published taxons as CSV
  <% end %>
<% end %>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= current_page?(taxons_path) ? "active" : nil%>"><%= link_to "Published", taxons_path(q: page.query) %></li>
  <li role="presentation" class="<%= current_page?(drafts_taxons_path) ? "active" : nil%>"><%= link_to "Draft", drafts_taxons_path(q: page.query) %></li>
  <li role="presentation" class="<%= current_page?(trash_taxons_path) ? "active" : nil%>"><%= link_to "Deleted", trash_taxons_path(q: page.query) %></li>
</ul>

<div class="lead">
  <%= t "views.taxons.#{params[:action]}.explain" %>
</div>

<%= simple_form_for :taxon_search, url: '', method: :get do |f| %>
  <div class="form-group">
    <%= f.input :query,
      input_html: { type: :text, class: 'form-control', value: page.query, name: 'q' },
      label: false %>
    <%= f.submit "Search", class: "btn btn-md btn-success" %>
  </div>
<% end %>

<table class="table queries-list table-bordered table-striped">
  <thead>
    <tr class="table-header">
      <th>Theme</th>
      <th>Taxon</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% page.taxons.each do |taxon| %>
      <tr>
        <td><%= taxon.theme %></td>
        <td><%= taxon.internal_name %></td>
        <td><%= link_to I18n.t('views.taxons.view'), taxon_path(taxon.content_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate page.search_results, theme: 'twitter-bootstrap-3' %>
