<%= display_header title: I18n.t('views.taxons.new_title'),
  breadcrumbs: [:taxons, I18n.t('views.taxons.new_breadcrumb')], page_type: :new %>

<%= simple_form_for taxon, url: taxons_path do |f| %>
  <% if flash[:error].present? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :parent_taxons, collection: taxons_for_select,
      input_html: { class: :select2, multiple: true, include_blank: true } %>

  <%= f.submit I18n.t('views.taxons.new_button'), class: "btn btn-lg btn-success" %>
<% end %>
