<%= display_header title: page.title, breadcrumbs: [:taxons, page.taxon] do %>
  <% unless page.unpublished? %>
    <%= link_to I18n.t('views.taxons.edit'), edit_taxon_path(page.taxon_content_id), class: "btn btn-default"%>

    <%= link_to I18n.t('views.taxons.tagging_history'), tagging_history_path(page.taxon_content_id), class: "btn btn-default"%>

    <%= link_to new_taxon_migration_path(source_content_id: page.taxon_content_id),
      class: 'btn btn-md btn-default' do %>
      <i class="glyphicon glyphicon-move"></i>
      <%= I18n.t('views.taxons.move_content') %>
    <% end %>

    <%= link_to taxonomy_path(page.taxon_content_id, format: :csv), class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-download-alt"></i>
      <%= I18n.t('views.taxons.download_csv') %>
    <% end %>
  <% end %>
<% end %>


<div class='view-on-site'>
  <% if page.published? %>
    View on site: <%= link_to page.base_path, website_url(page.base_path) %>
  <% elsif page.draft? %>
    <%= link_to "View draft page", website_url(page.base_path, draft: true) %>
  <% end %>
</div>

<div class="well state-box">
  <div class="state">
    State: <%= page.publication_state_name %>
    <% if page.redirected? %>
      (redirects to <%= page.redirect_to %>)
    <% end %>
  </div>
  <% if page.published? %>
    <%= link_to "Delete", taxon_confirm_delete_path(page.taxon_content_id), class: 'delete-link' %>
  <% elsif page.draft? %>
    <%= link_to taxon_confirm_publish_path(page.taxon_content_id), class: 'btn btn-md btn-default' do %>
      Publish
    <% end %>
    <%= link_to taxon_confirm_bulk_publish_path(page.taxon_content_id), class: 'btn btn-md btn-default' do %>
        Publish Tree
    <% end %>
    <%= link_to "Delete", taxon_confirm_discard_path(page.taxon_content_id), class: 'delete-link' %>
  <% elsif page.unpublished? %>
    <%= link_to taxon_confirm_restore_path(page.taxon_content_id), class: 'btn btn-md btn-default' do %>
      Restore
    <% end %>
  <% end %>
</div>

<% unless page.unpublished? %>
  <h3><%= t('views.taxons.tree') %></h3>

  <%= render 'taxonomy_tree', taxonomy_tree: page.taxonomy_tree %>

  <% if page.associated_taxons.present? %>
    <h3><%= t('views.taxons.associated_taxons') %></h3>
    <div class="associated-taxons">
      <ul>
        <% page.associated_taxons.each do |t| %>
          <li>
            <%= link_to t["title"], taxon_path(t["content_id"]) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= t('views.taxons.tagged_content') %></h3>

  <p>
    <%= link_to 'Download as CSV',
      taxon_download_tagged_path(page.taxon_content_id),
      class: 'btn btn-md btn-default' %>
  </p>

  <% if page.tagged.any? %>
    <%= render 'tagged_content', tagged: page.tagged %>
  <% else %>
    <p class="no-content no-content-bordered">No content tagged to this taxon</p>
  <% end %>
<% end %>
