<%= display_header title: taxon.internal_name, breadcrumbs: [:taxons, taxon] do %>
  <%= link_to I18n.t('views.taxons.edit'), edit_taxon_path(taxon.content_id), class: "btn btn-default"%>

  <%= link_to new_taxon_migration_path(source_content_id: taxon.content_id),
    class: 'btn btn-md btn-default' do %>
    <i class="glyphicon glyphicon-move"></i>
    <%= I18n.t('views.taxons.move_content') %>
  <% end %>

  <%= link_to taxonomy_path(taxon.content_id, format: :csv), class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-download-alt"></i>
    <%= I18n.t('views.taxons.download_csv') %>
  <% end %>

  <%= link_to taxon_confirm_delete_path(taxon.content_id), class: 'btn btn-md btn-default' do %>
    <i class="glyphicon glyphicon-trash"></i>
    <%= I18n.t('views.taxons.delete_taxon') %>
  <% end %>
<% end %>

<h3><%= t('views.taxons.tree') %></h3>

<%= render 'taxonomy_tree', taxonomy_tree: taxonomy_tree %>

<h3><%= t('views.taxons.tagged_content') %></h3>

<% if tagged.any? %>
  <%= render 'tagged_content', tagged: tagged %>
<% else %>
  <p class="no-content no-content-bordered">No content tagged to this taxon</p>
<% end %>
