<%= display_header title: page.title, breadcrumbs: [:taxons, page.taxon] %>

<% if user_can_administer_taxonomy? %>
  <div class='view-on-site'>
    <% if page.published? %>
      View on site: <%= link_to page.base_path, website_url(page.base_path) %>
    <% elsif page.draft? %>
      View draft page: <%= link_to page.base_path, website_url(page.base_path, draft: true) %>
    <% end %>
  </div>

  <%= link_to 'View taxon history',
              taxon_history_path(page.taxon_content_id),
              class: "btn btn-default" %>
<% end %>

<% unless page.unpublished? %>
  <%= link_to I18n.t('views.taxons.tagged_content'),
              taxon_tagged_content_path(page.taxon_content_id),
              class: 'btn btn-default' %>
<% end %>

<% if user_can_administer_taxonomy? %>
  <% unless page.unpublished? %>
    <%= link_to I18n.t('views.taxons.edit'),
                edit_taxon_path(page.taxon_content_id),
                class: "btn btn-default" %>
  <% end %>

  <div class="panel panel-default top-space">
    <div class="panel-body">
      State: <%= page.publication_state_name %>
      <% if page.redirected? %>
        (redirects to <%= page.redirect_to %>)
      <% end %>
    </div>

    <div class="panel-footer">
      <% if page.taxon_deletable? && page.published? %>
        <%= link_to "Unpublish",
                    taxon_confirm_delete_path(page.taxon_content_id),
                    class: 'btn btn-danger' %>
      <% elsif page.draft? %>
        <%= link_to "Publish",
                    taxon_confirm_publish_path(page.taxon_content_id),
                    class: 'btn btn-default' %>
        <%= link_to "Publish tree",
                    taxon_confirm_bulk_publish_path(page.taxon_content_id),
                    class: 'btn btn-default' %>
        <%= link_to "Discard draft",
                    taxon_confirm_discard_path(page.taxon_content_id),
                    class: 'btn btn-danger' %>
      <% elsif page.unpublished? %>
        <%= link_to "Restore to draft",
                    taxon_confirm_restore_path(page.taxon_content_id),
                    class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
<% end %>

<% unless page.unpublished? %>
  <% if page.associated_taxons.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t('views.taxons.associated_taxons') %>
      </div>
      <div class="panel-body">
        <ul class="associated-taxons">
          <% page.associated_taxons.each do |t| %>
            <li>
              <%= link_to t["title"], taxon_path(t["content_id"]) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if user_can_administer_taxonomy? %>
    <%= link_to taxonomy_path(page.taxon_content_id, format: :csv), class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-download-alt"></i>
      <%= I18n.t('views.taxons.download_csv') %>
    <% end %>
  <% end %>

  <div class="btn-group pull-right taxonomy-visualisation-buttons"
       role="group"
       aria-label="Taxonomy visualisations">
    <% TaxonsController::VISUALISATIONS.each do |viz| %>
      <a href="<%= taxon_path(params[:id], viz: viz) %>"
         class="btn btn-lg <%= viz == page.visualisation ? 'btn-primary' : 'btn-default' %>"
         role="button">
        <%= viz.titlecase %>
      </a>
    <% end %>
  </div>

  <% if page.visualisation.in? TaxonsController::VISUALISATIONS %>
    <%= render partial: page.visualisation, locals: { page: page } %>
  <% else %>
    <h2>Unknown visualisation <%= page.visualisation %>
  <% end %>
<% end %>
