<%= display_header title: page.title, breadcrumbs: [:taxons, page.taxon] %>

<table class="state-table add-bottom-margin">
  <thead class="text-muted">
    <tr>
      <th>
        state
      </th>
      <th>
        phase
      </th>
      <th>
        tagged
      </th>
      <th>
        email subscribers
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span class="label add-right-margin state-label--<%= page.publication_state_name %>">
          <%= page.publication_state_display_name %>
        </span>
      </td>
      <td>
        <span class="label add-right-margin phase-label--<%= page.taxon.phase %>">
          <%= page.taxon.phase %>
        </span>
      </td>
      <td>
        <span class="label label-default add-right-margin">
          <%= page.tagged.count %>
        </span>
      </td>
      <td>
        <span class="label label-default add-right-margin">
          <%= page.email_subscribers %>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<hr>

<% if page.show_preview_link? %>
  <p>
    <%= link_to "Preview changes on GOV.UK", website_url(page.base_path, draft: true) %>
    (<%= page.base_path %>)
  </p>
<% end %>

<% if page.show_production_link? %>
  <p>
    <%= link_to "View on GOV.UK", website_url(page.base_path) %>
    (<%= page.base_path %>)
  </p>
<% end %>

<% unless page.unpublished? %>
  <p>
    <%= link_to I18n.t("views.taxons.tagged_content"),
                taxon_tagged_content_path(page.taxon_content_id) %>
  </p>
<% end %>

<p>
  <%= link_to "View taxon change history", taxon_history_path(page.taxon_content_id) %>
</p>

<p>
  <%= link_to taxonomy_path(page.taxon_content_id, format: :csv), class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-download-alt"></i>
    <%= I18n.t("views.taxons.download_csv") %>
  <% end %>
</p>

<% if user_can_administer_taxonomy? %>
  <div class="panel panel-default add-top-margin">
    <div class="panel-heading">
      <h2 class="panel-title">
        Tasks
      </h2>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <p class="text-muted">
          Tasks specific to this taxon only:
        </p>

        <% unless page.unpublished? %>
          <p>
            <%= link_to I18n.t("views.taxons.edit"),
                        edit_taxon_path(page.taxon_content_id),
                        class: "btn btn-default" %>
          </p>
        <% end %>

        <p>
          <%= link_to I18n.t("views.taxons.add_child"),
          new_taxon_path(taxon: { parent_content_id: page.content_id }),
          class: "btn btn-default" %>
        </p>

        <% if page.taxon_deletable? && page.published? %>
          <p>
            <%= link_to "Unpublish",
                        taxon_confirm_delete_path(page.taxon_content_id),
                        class: "btn btn-danger add-top-margin" %>
          </p>
        <% elsif page.draft? %>
          <p>
            <%= link_to "Publish",
                        taxon_confirm_publish_path(page.taxon_content_id),
                        class: "btn btn-default" %>
          </p>

          <p>
            <%= link_to "Discard draft",
                        taxon_confirm_discard_path(page.taxon_content_id),
                        class: "btn btn-danger add-top-margin" %>
          </p>
        <% elsif page.unpublished? %>
          <p>
            <%= link_to "Restore to draft",
                        taxon_confirm_restore_path(page.taxon_content_id),
                        class: "btn btn-warning" %>
          </p>
        <% end %>
      </li>

      <% unless page.unpublished? %>
      <li class="list-group-item">
        <p class="text-muted">
          Tasks for this taxon and its descendants:
        </p>

        <% if !page.unpublished? %>
          <p>
            <%= link_to "Change phase for this taxon and its children",
                        taxon_confirm_bulk_update_path(page.taxon_content_id),
                        class: "btn btn-default" %>
          </p>
        <% end %>

        <p>
          <%= link_to "Publish tree",
                      taxon_confirm_bulk_publish_path(page.taxon_content_id),
                      class: "btn btn-default" %>
        </p>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless page.unpublished? %>
  <% if page.associated_taxons.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= t("views.taxons.associated_taxons") %>
        </h2>
      </div>

      <div class="panel-body associated-taxons">
        <% page.associated_taxons.each do |t| %>
          <p>
            <%= link_to t["title"], taxon_path(t["content_id"]) %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>

  <h3>Taxonomy view</h3>

  <p>
    <%= page.chevron_hierarchy %>
  </p>

  <div class="btn-group taxonomy-visualisation-buttons"
       role="group"
       aria-label="Taxonomy visualisations">
    <% TaxonsController::VISUALISATIONS.each do |viz| %>
      <a href="<%= taxon_path(params[:id], viz: viz) %>"
         class="btn <%= viz == page.visualisation ? "btn-primary" : "btn-default" %>"
         role="button">
        <%= viz.titlecase %>
      </a>
    <% end %>
  </div>

  <% if page.visualisation.in? TaxonsController::VISUALISATIONS %>
    <%= render partial: page.visualisation, locals: { page: page } %>
  <% else %>
    <p>
      Unknown visualisation <%= page.visualisation %>
    </p>
  <% end %>
<% end %>
