<%= display_header(
  title: "Pages tagged to #{link_to page.taxon.title, taxon_path(page.content_id)}",
  page_title: "Pages tagged to #{page.taxon.title}",
  breadcrumbs: [:taxons, page.taxon]) %>

<% unless page.unpublished? %>
  <% if user_can_administer_taxonomy? %>
    <%= link_to taxon_download_tagged_path(page.taxon_content_id), class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-download-alt"></i>
      Download as CSV
    <% end %>
  <% end %>

  <% if user_can_manage_taxonomy? %>
    <%= link_to "Move content",
                new_taxon_migration_path(source_content_id: page.taxon_content_id),
                class: "btn btn-md btn-default" %>
  <% end %>

  <%= link_to I18n.t("views.taxons.tagging_history"),
              tagging_history_path(page.taxon_content_id),
              class: "btn btn-default" %>

  <div class="panel panel-default add-top-margin">
    <div class="panel-body">
      Total tagged pages: <%= page.tagged.count %>
    </div>
    <div class="panel-body">
      <span id="row-count">Filtered results count: <%= page.tagged.count %></span>
    </div>
  </div>

  <% if page.tagged.any? %>
    <%= render "tagged_content", tagged: page.tagged %>
  <% else %>
    <p class="no-content no-content-bordered add-top-margin">
      No content tagged to this taxon
    </p>
  <% end %>
<% end %>
