<%= display_header title: t('views.taxons.deleted_title'), breadcrumbs: [t('navigation.taxons')] do %>
  <%= link_to taxons_path, class: 'btn btn-default' do %>
    <%= I18n.t('views.taxons.view_live_taxons') %>
  <% end %>
<% end %>

<div class="lead">
  Search for a deleted taxon to restore it.
</div>

<%= render 'taxons/search_deleted', query: query %>

<table class="table queries-list table-bordered table-striped">
  <thead>
    <tr class="table-header">
      <th>Taxon</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% taxons.each do |taxon| %>
      <tr>
        <td><%= taxon.internal_name %></td>
        <td><%= link_to I18n.t('views.taxons.restore_taxon'), taxon_restore_path(taxon.content_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate search_results, theme: 'twitter-bootstrap-3' %>
