<%= display_header title: t('views.taxons.deleted_title'), breadcrumbs: [t('navigation.taxons')] %>

<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Published", taxons_path %></li>
  <li role="presentation"><%= link_to "Draft", drafts_taxons_path %></li>
  <li role="presentation" class="active"><%= link_to "Deleted", trash_taxons_path %></li>
</ul>

<div class="lead">
  Search for a deleted taxon to restore it.
</div>

<%= render 'taxons/search_deleted', query: query %>

<table class="table queries-list table-bordered table-striped">
  <thead>
    <tr class="table-header">
      <th>Taxon</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% taxons.each do |taxon| %>
      <tr>
        <td><%= taxon.internal_name %></td>
        <td><%= link_to I18n.t('views.taxons.view'), taxon_path(taxon.content_id) %></td>
        <td><%= link_to I18n.t('views.taxons.edit'), edit_taxon_path(taxon.content_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate search_results, theme: 'twitter-bootstrap-3' %>
