<%= display_header title: "Tagging activity", breadcrumbs: ["Tagging activity"] %>

<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Tagging analytics", analytics_path %></li>
  <li role="presentation"><%= link_to "Trending Topics", trends_path %></li>
  <li role="presentation" class="active"><%= link_to "Tagging activity", activity_path %></li>
</ul>

<div class='filters'>
  Users:
  <%= link_to "All users", activity_path, class: 'filter-link' %>

  <% page.user_names.each do |user_name| %>
    <%= link_to user_name, { user_name: user_name }, class: 'filter-link' %>
  <% end %>
</div>

<div class='filters'>
  Organisations:
  <%= link_to "All organisations", activity_path, class: 'filter-link' %>

  <% page.user_organisations.each do |user_organisation| %>
    <%= link_to user_organisation, { user_organisation: user_organisation }, class: 'filter-link' %>
  <% end %>
</div>

<div class="tagged-content">
  <table class="table queries-list table-bordered table-striped" data-module="filterable-table">
    <thead>
      <tr class="table-header">
        <th style='width: 100px;'>Date</th>
        <th>Event</th>
        <th>User</th>
      </tr>

      <%= render partial: 'shared/table_filter' %>
    </thead>

    <tbody>
      <% page.tagging_events.each do |tagging_event| %>
        <tr>
          <td><%= time_ago_in_words(tagging_event.tagged_at) %> ago</td>
          <td>
            <% if tagging_event.removed? %>
              <s>
                <%= link_to tagging_event['taggable_title'], tagging_event['taggable_base_path'] %>
                removed from  <%= link_to tagging_event.taxon_title, taxon_path(tagging_event.taxon_content_id) %>
              </s>
            <% else %>
              <%= link_to tagging_event['taggable_title'], tagging_event['taggable_base_path'] %>
              tagged to  <%= link_to tagging_event.taxon_title, taxon_path(tagging_event.taxon_content_id) %>
            <% end %>
          </td>
          <td>
            <% if tagging_event['user_name'] %>
              <%= tagging_event['user_name'] %> (<%= tagging_event['user_organisation'] || "No organisation" %>)</td>
            <% else %>
              <em>Unknown user</em>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
