<%= display_header title: t("views.analytics"), breadcrumbs: [t('views.analytics')] %>

<% content_for :head do %>
<%= javascript_include_tag "datatables.min" %>
<script>$(document).ready(function() { $('table').DataTable(); });</script>
<% end %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "Tagging analytics", analytics_path %></li>
  <li role="presentation"><%= link_to "Trending Topics", trends_path %></li>
  <li role="presentation"><%= link_to "Tagging activity", activity_path %></li>
</ul>

<table class="table queries-list table-bordered table-striped">
  <thead>
    <tr class="table-header">
      <th>Taxon</th>
      <th>Guidance</th>
      <th>Other</th>
    </tr>
  </thead>

  <tbody>
    <% page.taxons.each do |taxon| %>
      <tr>
        <td><%= link_to taxon[:title], taxon_history_path(taxon[:id]) %></td>
        <td><%= taxon[:guidance_count] %></td>
        <td><%= taxon[:other_count] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
