<%= display_header title: page.title, breadcrumbs: [:analytics, page.title] do %>
  <%= link_to I18n.t('views.taxons.view'), taxon_path(page.id),
    class: 'btn btn-md btn-default' %>
<% end %>

<% content_for :head do %>
<script>$(document).ready(function() { $('table').DataTable(); });</script>
<% end %>

<div class='tagged-content-chart'>
  <%= column_chart page.content_count_over_time, stacked: true, min: 0 %>
</div>

<div class="tagged-content">
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="table-header">
        <th>Date</th>
        <th>Page</th>
        <th>Guidance?</th>
        <th>User</th>
      </tr>
    </thead>

    <tbody>
      <% page.tagging_events.each do |tagging_event| %>
        <tr>
          <td><%= tagging_event.tagged_on %></td>
          <td>
            <% if tagging_event.removed? %>
              <s>
            <% end %>
            <%= tagging_event['taggable_title'] %></td>
          <td><%= tagging_event.guidance? ? 'Guidance' : 'Other' %></td>
          <td><%= User.find_by(uid: tagging_event['user_uid'])&.name || "A Whitehall User" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
