<%= display_header title: 'Tag Search', breadcrumbs: ["Tag Search"] %>
    <%= simple_form_for :tag_search, url: results_of_tag_search_path, method: :get do |f| %>
      <div class="form-group">
        <%= f.input :query,
          input_html: { type: :text, class: 'form-control', value: query },
          label: 'Query'%>
        <%= f.submit "Search tags", class: "btn btn-md btn-success" %>
      </div>
    <% end %>

    <table class="table queries-list table-bordered" data-module="filterable-table">
      <thead>
        <tr class="table-header">
          <th>Title</th>
          <th>Content ID</th>
          <th>Document type</th>
        </tr>
      </thead>
      <tbody>
        <% if results.present? %>
          <% results.each do |tag| %>
            <tr>
              <td><%= tag.title %></td>
              <td>
                <%= link_to tag.content_id,
                  new_tag_migration_path(
                    tag_migration: {
                      source_content_id: tag.content_id,
                      source_base_path: tag.base_path,
                      document_type: tag.document_type,
                      query: query,
                    }
                  ) %>
              </td>
              <td> <%= tag.document_type.humanize %> </td>
            </tr>
          <% end %>
        <% else %>
            <tr>
              <td><p>No results to display. Search to see results.</p></td>
              <td></td>
              <td></td>
            </tr>
        <% end %>
      </tbody>
    </table>
