<%= content_for :page_title, page_title %>

<header class="heading-with-actions">
  <ol class="breadcrumb">
    <% breadcrumbs.each do |crumb| %>
      <li><%= auto_link crumb %></li>
    <% end %>

    <li class="active"><%= active_item %></li>
  </ol>

  <% if callout_presenter.should_render? %>
    <%= render 'shared/title', callout_presenter: callout_presenter %>
  <% else %>
    <h1><%= raw title %></h1>
  <% end %>

  <% if block_given? %>
    <nav class="actions">
      <%= yield %>
    </nav>
  <% end %>
</header>
