<% if defined?(field_errors) && field_errors.present? %>
  <div class='error-block'>
    <% field_errors.each do |path, error| %>
      <p><%= error %>: <%= path %></p>
    <% end %>
  </div>
<% end %>

<fieldset data-module="path-lookup-select" data-form-field-name="<%= form_field %>">
  <ul class="list-unstyled js-list-sortable js-base-path-list">
  <% Array(base_paths).each do |base_path| %>
    <li>
      <%= text_field_tag form_field, base_path, class: 'form-control' %>
    </li>
  <% end %>
  <%#
    The number of extra empty form fields to add to a link section when the link
    section shows an individual form input for each value. This allows users to
    append new links to the end of the existing list.
  %>
  <% 5.times do %>
    <li>
      <%= text_field_tag form_field, '', class: 'form-control' %>
    </li>
  <% end %>
  </ul>

  <p class='error-block js-add-path-error hide'>
    Not a known URL on GOV.UK
  </p>
</fieldset>
