<div class='content-item'>
  <%= simple_form_for content_item, url: project_content_item_path(content_item.project, content_item), remote: true, html: { data: { ref: content_item.id }, class: 'js-content-item-form content-item-form' } do |f| %>
    <%= token_tag %>
    <h4>
      <%= link_to content_item.title, content_item.url, data: {proxy_iframe: 'enabled', modal_url: content_item.proxied_url, toggle: 'modal', target: '#iframe_modal_id'} %>
    </h4>

    <% if content_item.needs_help? %>
      <span class='label label-danger'><%= I18n.t('views.projects.flags.help-needed') %></span>
    <% elsif content_item.missing_topic? %>
      <span class='label label-danger'><%= I18n.t('views.projects.flags.missing-topic') %></span>
    <% elsif content_item.done? %>
      <span class='label label-primary'>Done</span>
    <% end %>

    <p><%= content_item.description %></p>
    <%= f.input :taxons,
      placeholder: 'Choose one...',
      label: false,
      input_html: {
        class: [:select2, :tagging_project, :js_bulk_tagger_input],
        autocomplete: 'off',
        data: { taxons: content_item.taxons }
      } %>
  <% end %>

  <div class='actions actions-inline'>
    <%= button_to 'Done', mark_done_project_content_item_path(content_item.project, content_item) %>
    <%= link_to text_for_content_flagging_link(content_item), flags_project_content_item_path(content_item.project, content_item), class: 'add-left-margin' %>
  </div>
</div>
