<%= display_header title: "Tagging Projects", breadcrumbs: %w[Projects] do %>
  <%= link_to new_project_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-plus"></i>Add new project
  <% end %>
<% end %>

<% projects.group_by(&:taxonomy_branch).each do |taxonomy_branch, branch_projects| %>
  <%= link_to "Show #{branch_projects.first.taxonomy_branch_title.downcase} taxonomy",
              taxon_path(branch_projects.first.taxonomy_branch, viz: :list),
              class: %w(btn btn-default pull-right) %>
  <h2>
    <%= branch_projects.first.taxonomy_branch_title %>
  </h2>

  <p>
    <%= link_to "View suggested topics", project_content_items_path(taxonomy_branch: taxonomy_branch, flagged: "missing_topic") %>
  </p>

  <table class="table queries-list table-bordered table-striped" id="projects">
    <thead>
    <tr class="table-header">
      <th>Project</th>
      <th class='col-md-1'>To Do</th>
      <th class='col-md-1'>Flagged</th>
      <th class='col-md-1'>Done</th>
    </tr>
    </thead>

    <tbody>
      <%= render partial: "project", collection: branch_projects, cached: true %>
    </tbody>
  </table>
<% end %>

<h2>
  Organisation tagging progress
</h2>

<form method="get" class="form">
  <label for="progress_for_organisations">
    Organisation slugs
  </label>

  <div class="input-group">
    <input type="text"
      class="form-control"
      id="progress_for_organisations"
      name="progress_for_organisations"
      value="<%= params[:progress_for_organisations] %>">

    <div class="input-group-btn">
      <button class="btn btn-primary" type="submit">Display progress</button>
    </div>
  </div>

  <p class="help-block">A comma separated list of organisation slugs, e.g. <code>department-for-transport, high-speed-two-limited</code></p>

</form>

<% if percentage_by_organisation.present? %>
  <table class="table queries-list table-bordered table-striped" id="tagging-progress">
    <thead>
      <tr class="table-header">
        <th>Organisation</th>
        <th>Content Published</th>
        <th>Content tagged</th>
        <th>Percentage</th>
      </tr>
    </thead>
    <tfoot>
    <tr>
      <th>Totals</th>
      <td><%= total_counts[:total] %></td>
      <td><%= total_counts[:tagged] %></td>
      <td><%= number_to_percentage(total_counts[:percentage], precision: 2) %></td>
    </tr>
    </tfoot>
    <tbody>
      <% percentage_by_organisation.each do |organisation, progress| %>
      <tr>
        <td><%= organisation %></td>
        <td>
          <%= progress[:total] %>
        </td>
        <td>
          <%= progress[:tagged] %>
        </td>
        <td>
          <%= number_to_percentage(progress[:percentage], precision: 2) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
