<%= display_header title: "Tagging Projects", breadcrumbs: ["Projects"] do %>
  <%= link_to new_project_path, class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-plus"></i>Add new project
  <% end %>
<% end %>

<% projects.group_by(&:taxonomy_branch).each do |taxonomy_branch, branch_projects| %>
  <h2>
    <%= branch_projects.first.taxonomy_branch_title %>
  </h2>

  <p>
    <%= link_to "View suggested topics", project_content_items_path(taxonomy_branch: taxonomy_branch, flagged: "missing_topic") %>
  </p>

  <table class="table queries-list table-bordered table-striped">
    <thead>
    <tr class="table-header">
      <th>Project</th>
      <th class='col-md-1'>To Do</th>
      <th class='col-md-1'>Flagged</th>
      <th class='col-md-1'>Done</th>
    </tr>
    </thead>

    <tbody>
      <%= render partial: 'project', collection: branch_projects, cached: true %>
    </tbody>
  </table>
<% end %>
