<%= display_header title: "New project",
  breadcrumbs: [:projects, "New project"] %>

<div class="row">
  <div class="col-md-8">
    <%= simple_form_for form, url: projects_path do |f| %>
      <% f.object.errors[:base].each do |message, details| %>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <%= message %>
          </div>
          <% if details.present? %>
            <div class="panel-body">
              <ol>
                <% details.each do |detail| %>
                  <li><%= detail %></li>
                <% end %>
              </ol>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= f.input :name, input_html: { class: "form-control" },
                  label: "Name",
                  hint: "Name of the new project." %>

      <%= f.input :taxonomy_branch, input_html: { class: "form-control" },
                  label: "Branch of GOV.UK taxonomy",
                  collection: form.taxonomy_branches_for_select %>

      <%= f.input :remote_url, input_html: { class: "form-control" },
                  label: "Spreadsheet URL",
                  hint: "Spreadsheet URL with the contents of the project. Required columns: url, title and description." %>

      <%= f.input :bulk_tagging_enabled, input_html: { class: "form-control" },
                  label: "Bulk tagging",
                  hint: "Enable the bulk tagging interface for this project?",
                  as: :boolean,
                  checked_value: true %>

      <%= f.submit "New Project", class: "btn btn-lg btn-success" %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render "shared/help",
      example_spreadsheet: "https://docs.google.com/spreadsheets/d/1R9Qkg4CmvnQ1WDmT6mqZm7_5kIOstRsnhIDmv0Eop40/pub?gid=0" %>
  </div>
</div>
