<header class="heading-with-actions"/>
  <h1>New Project</h1>
</header>

<%= simple_form_for form, url: projects_path do |f| %>
    <%= f.input :name, input_html: { class: 'form-control' },
                label: 'Name',
                hint: 'Name of the new project.' %>

    <%= f.input :taxonomy_branch, input_html: { class: 'form-control' },
                label: 'Branch of GOV.UK taxonomy',
                collection: form.taxonomy_branches_for_select %>

    <%= f.input :remote_url, input_html: { class: 'form-control' },
                label: 'Remote URL',
                hint: 'Remote URL with the contents of the project.' %>

    <%= f.submit 'New Project', class: "btn btn-lg btn-success" %>
<% end %>
