<%= display_header title: project.name, breadcrumbs: [:projects, project.name] do %>
  <% if user_can_administer_taxonomy? %>
    <%= link_to "Delete", project_confirm_delete_path(project), class: "btn btn-danger" %>
  <% end %>
<% end %>

<%= render partial: "shared/iframe_proxy_modal" %>
<div id="flags-modal" class="modal" tabindex="-1" role="dialog"></div>

<div class="row tagathon-project">
  <div class="col-md-3 filter-controls">
    <h3>Filter</h3>

    <form method="GET">
      <input id="project-tagging-content-item-search"
             type="text"
             class="form-control"
             name="title_search"
             value="<%= query.params[:title_search] %>"
             placeholder="Filter by title...">

      <% filters.each do |filter_option| %>
        <div class="radio">
          <label>
            <input type="radio"
                   name="filter"
                   id="filter_<%= filter_option %>"
                   value="<%= filter_option %>"
                   <% if query.current_filter == filter_option %>
                   checked
                   <% end %>
            >
            <%= filter_option.titleize %>
          </label>
        </div>
      <% end %>
      <button class="btn btn-lg btn-default" type="submit">Apply filter</button>
    </form>
  </div>

  <div class="col-md-9">
    <% if content_items.any? %>
      <% if project.bulk_tagging_enabled? %>
        <%= render partial: "bulk_tagging", locals: local_assigns %>
      <% end %>

      <div class='content-list'>
        <%= render partial: "content_item", collection: content_items, cached: true %>
      </div>
    <% else %>
      <p class="no-content">No pages found!</p>
    <% end %>
  </div>
</div>

<script>
  var taxonTagger = new GOVUKAdmin.Modules.TaxonTagger(<%= taxons.to_json.html_safe %>);
  taxonTagger.start_individual_taggers($('.tagathon-project'));

  <% if project.bulk_tagging_enabled? %>
    taxonTagger.start_bulk_tagger($('.tagathon-project'));
  <% end %>
</script>
