<%= display_header title: project.name, breadcrumbs: [:projects, project.name] %>

<%= render partial: 'shared/iframe_proxy_modal' %>

<div class="row tagathon-project">
  <div class="col-md-3 filter-controls">
    <h3>Filter</h3>

    <form method="GET">
      <input id="project-tagging-content-item-search"
             type="text"
             class="form-control js-bulk-tagging-search-filter"
             name="query"
             value="<%= bulk_search.query %>"
             placeholder="Filter by title...">

      <% Projects::BulkSearch::TAGGED_STATES.each do |state|  %>
        <div class="radio">
          <label>
            <input type="radio"
                   name="tagged_state"
                   id="tagged_state_<%= state %>"
                   value="<%= state %>"
                   <% if bulk_search.selected_state == state %>
                   checked
                   <% end %>
            >
            <%= state.titleize %>
          </label>
        </div>
      <% end %>
      <button class="btn btn-lg btn-default" type="submit">Apply</button>
    </form>
  </div>

  <div class="col-md-9">
    <% if content_items.any? %>
      <% if project.bulk_tagging_enabled? %>
        <%= render partial: "bulk_tagging", locals: local_assigns %>
      <% end %>

      <div class='content-list'>
        <%= render partial: 'content_item', collection: content_items %>
      </div>
    <% else %>
      <p class="no-content">No pages found!</p>
    <% end %>
  </div>
</div>

<% if project.bulk_tagging_enabled? %>
  <script>
    var bulkTagger = new GOVUKAdmin.Modules.BulkTagger(<%= taxons.to_s.html_safe %>);
    bulkTagger.start($('.tagathon-project'));
  </script>
<% end %>

