<%= render partial: 'shared/iframe_proxy_modal' %>

<div class="row tagathon-project">
  <h1><%= project.name %></h1>

  <div class="col-md-3 filter-controls">
    <h3>Filter</h3>

    <form method="GET">
      <input id="project-tagging-content-item-search"
             type="text"
             class="form-control js-bulk-tagging-search-filter"
             name="query"
             value="<%= params[:query] %>"
             placeholder="Filter by title...">

      <% ProjectsController::TAGGED_STATES.each do |state|  %>
        <div class="radio">
          <label>
            <input type="radio"
                   name="tagged_state"
                   id="tagged_state_<%= state %>"
                   value="<%= state %>"
                   <% if params[:tagged_state] == state %>
                   checked
                   <% end %>
            >
            <%= state.titleize %>
          </label>
        </div>
      <% end %>
      <button class="btn btn-lg btn-default" type="submit">Apply</button>
    </form>
  </div>

  <div class="col-md-9">
    <%= render 'item_tagging', project: project, project_content_items_to_display: project_content_items_to_display %>
  </div>
</div>

<script>
  var bulkTagger = new GOVUKAdmin.Modules.BulkTagger(<%= taxons.to_s.html_safe %>);
  bulkTagger.start($('.tagathon-project'));
</script>
