<%= display_header title: "Tagging history",
                   breadcrumbs: ["Tagging history"] do %>
  <%= render partial: "user_filter", locals: local_assigns %>
<% end %>

<div class="tagged-content">
  <table class="table queries-list table-bordered table-striped"
         data-module="filterable-table">
    <thead>
    <tr class="table-header">
      <th style='width: 100px;'>Date</th>
      <th>Event</th>
      <th>User</th>
    </tr>

    <%= render partial: "shared/table_filter" %>
    </thead>

    <tbody>
    <% link_changes.changes.each do |link_change| %>
      <tr>
        <td><%= time_ago_in_words(link_change[:created_at]) %> ago</td>
        <td>
          <% if link_change[:source] %>
            <%= link_to link_change[:source][:title],
                        website_url(link_change[:source][:base_path]) %>
          <% else %>
            An unknown document
          <% end %>

          <% if link_change[:change] == 'remove' %>
            removed from
          <% else %>
            tagged to
          <% end %>

          <% if link_change[:target] %>
            <%= link_to link_change[:target][:title],
                        tagging_history_path(link_change[:target][:content_id]) %>
          <% else %>
            an unknown taxon
          <% end %>
        </td>
        <td>
          <% if link_change[:user_name] %>
            <%= link_change[:user_name] %>
            (<%= link_change[:organisation] || "No organisation" %>)
          <% else %>
            <em>
              Unknown user <!-- UID: <%= link_change[:user_uid] %> -->
            </em>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
