<%= display_header title: "Tagging history for #{link_to content_item.title, taxon_path(content_item.content_id)}",
                   page_title: "Tagging history for #{content_item.title}",
                   breadcrumbs: [link_to("Tagging history", tagging_history_index_path), content_item] do %>
  <%= render partial: "user_filter", locals: local_assigns %>
<% end %>

<div class="tagged-content">
  <table class="table queries-list table-bordered table-striped"
         data-module="filterable-table">
    <thead>
    <tr class="table-header">
      <th style='width: 100px;'>Date</th>
      <th style='width: 6em;'>Action</th>
      <th style='width: 6em;'>Link type</th>
      <th>Page</th>
      <th>User</th>
    </tr>

    <%= render partial: "shared/table_filter" %>
    </thead>

    <tbody>
    <% link_changes.changes.each do |link_change| %>
      <tr>
        <td><%= time_ago_in_words(link_change[:created_at]) %> ago</td>
        <td class="<%= link_change[:change] == "remove" ? "bg-danger" : "bg-success" %>">
          <% if link_change[:change] == 'remove' %>
            Untagged
          <% else %>
            Tagged
          <% end %>
        </td>
        <td>
          <span title='Link type: "<%= link_change[:link_type] %>"'>
            <%= link_change[:link_type].singularize.titleize %>
          </span>
        </td>
        <td>
          <% if link_change[:source] %>
            <%= link_to link_change[:source][:title],
                        website_url(link_change[:source][:base_path]) %>
          <% else %>
            An unknown document
          <% end %>
        </td>
        <td>
          <% if link_change[:user_name] %>
            <%= link_change[:user_name] %>
            (<%= link_change[:organisation] || "No organisation" %>)
          <% else %>
            <em>
              Unknown user <!-- UID: <%= link_change[:user_uid] %> -->
            </em>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
