<%= display_header title: "Taxonomy Health Warnings",
                   breadcrumbs: ["Taxonomy Health Warnings"] %>

<table class="table">
  <thead>
    <tr>
      <th>Metric</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% taxonomy_health_warning_counts.each do |(metric, count)| %>
      <tr>
        <td><%= metric %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td></td>
      <td>
        <%= taxonomy_health_warning_counts.values.sum %>
        <strong>in total</strong>
      </td>
    </tr>
  </tfoot>
</table>

<p><%= link_to "View taxonomy metrics dashboard", taxonomy_metrics_dashboard_url %></p>

<div class="tagged-content">
  <table class="table queries-list table-bordered table-striped"
         data-module="filterable-table">
    <thead>
    <tr class="table-header">
      <th style='width: 100px;'>Date</th>
      <th>Taxon</th>
      <th>Warning message</th>
    </tr>

    <%= render partial: "shared/table_filter" %>
    </thead>

    <tbody>
    <% @taxonomy_health_warnings.order(value: :desc).each do |taxonomy_health_warning| %>
      <tr>
        <td><%= time_ago_in_words(taxonomy_health_warning.created_at) %></td>
        <td><%= link_to taxonomy_health_warning.title,
                    taxon_path(taxonomy_health_warning.content_id) %>
          <br>
          <span class="text-muted"><%= taxonomy_health_warning.path %></span>
        </td>
        <td><%= taxonomy_health_warning.message %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
