<%= display_header title: 'Tagging spreadsheets', breadcrumbs: ['Tag importer'] do %>
  <%= link_to 'Upload spreadsheet', new_tagging_spreadsheet_path, class: 'btn btn-lg btn-default' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Google Sheet URL</th>
      <th>Description</th>
      <th>Date added</th>
      <th>Added by</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tagging_spreadsheets.each do |spreadsheet| %>
      <tr>
        <td><%= spreadsheet.url %></td>
        <td><%= spreadsheet.description %></td>
        <td>
          <time data-toggle="tooltip" data-original-title="<%= spreadsheet.created_at.to_s %>">
            <%= distance_of_time_in_words_to_now(spreadsheet.created_at) %>
          </time>
        </td>
        <td><%= spreadsheet.added_by.name %></td>
        <td>
          <%= link_to "Preview", tagging_spreadsheet_path(spreadsheet) %>
        </td>
        <td>
          <%= link_to "Delete", tagging_spreadsheet_path(spreadsheet), method: :delete, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
