<%= display_header title: 'Import', breadcrumbs: [:tagging_spreadsheets, "New import"] %>

<%= form_for @tagging_spreadsheet, url: tagging_spreadsheets_path do |form| %>
  <div class="form-group">
    <%= form.text_field :url, label: "Spreadsheet URL", class: "form-control" %>
    <p class='explain'>
      See the <%= link_to "example spreadsheet",
          "https://docs.google.com/spreadsheets/d/1BB4mAcaf0pfCUUxrt3pmFvebiPv0yUAkfLEeEJjIT0M/pub?gid=386284585&single=true&output=tsv" %>
          for the correct format.
    </p>

    <%= form.submit "Import", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
