<%= display_header title: tagging_spreadsheet.description, breadcrumbs: [:tagging_spreadsheets, "Preview"] do %>
  <%= link_to I18n.t("tag_import.refresh"), tagging_spreadsheet_refetch_path(tagging_spreadsheet), method: :post, class: "btn btn-md btn-default" %>
<% end %>

  <p>
    <%= link_to I18n.t("tag_import.start_tagging"), tagging_spreadsheet_publish_tags_path(tagging_spreadsheet), method: :post, class: "btn btn-lg btn-success" %>
  </p>

<% if tagging_spreadsheet.state == "errored" %>
  <p class="alert alert-danger">
    An error occured when attempting to read the spreadsheet:
    <%= tagging_spreadsheet.error_message %>
  </p>
<% end %>
<div class='view-on-site'>
  <%= link_to "View on Google Docs", tagging_spreadsheet.url, target: "_blank", rel: "noopener" %>
</div>

<%= render "tag_update_preview",
      completed_tag_mappings: completed_tag_mappings,
      total_tag_mappings: total_tag_mappings,
      error_count: tagging_spreadsheet.error_count,
      aggregated_tag_mappings: aggregated_tag_mappings,
      progress_path: progress_path %>
