<%= simple_form_for tagging_update, url: tagging_path, method: "put" do |f| %>
  <%= f.hidden_field :content_id %>
  <%= f.hidden_field :previous_version %>

  <% tagging_update.allowed_tag_types.each do |tag_type| %>
    <div class='tag-section'>
      <%= render "form_for_#{tag_type}", {
        f: f,
        linkables: tagging_update.linkables,
        tagging_update: tagging_update,
      } %>
    </div>
  <% end %>

  <hr/>

  <%= f.submit I18n.t("taggings.update_tags"), class: "btn btn-lg btn-success" %>
<% end %>
