<li class="related-content-item-entry">
  <% # JavaScript-specific HTML, which should only be included in tags with populated
     # base paths, or for the template used by JavaScript to create new tags %>
  <% if is_template || base_path.present? %>
    <div class="title select2-search-choice ui-sortable-handle ">
      <a href="https://www.gov.uk<%= base_path %>" class="js-artefact-name">
        <%= tagging_update.title_for_related_link(base_path) %> (<%= base_path %>)
      </a>

      <a href="#" class="js-remove-related glyphicon glyphicon-remove remove-icon" tabindex="-1" title="Remove <%= base_path %>"></a>

      <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>

      <% if tagging_update.get_errors_for(link_type)[base_path].present? %>
        <span class="label label-danger">
          <%= tagging_update.get_errors_for(link_type)[base_path] %>
        </span>
      <% end %>
    </div>
  <% end %>

  <div class="related-item value <%= tagging_update.get_errors_for(link_type)[base_path] ? "has-error" : "" %>">
    <%= text_field_tag "tagging_tagging_update_form[#{link_type.to_s}][]",
                       base_path,
                       class: "form-control related-item-path" %>

    <span class="help-block">
      <%= tagging_update.get_errors_for(link_type)[base_path] %>
    </span>
  </div>
</li>
