<%= simple_form_for tagging_update, url: facet_group_facet_tagging_path, method: 'put' do |f| %>
  <%= f.hidden_field :content_id %>
  <%= f.hidden_field :previous_version %>

  <% tagging_update.allowed_tag_types.each do |tag_type| %>
    <div class='tag-section'>
      <%= render "form_for_#{tag_type}", {
        f: f,
        linkables: tagging_update.linkables,
        tagging_update: tagging_update
      } %>
    </div>
  <% end %>

  <%= f.input :notify,
              as: :boolean,
              checked_value: true,
              unchecked_value: false,
              label: "Notify email subscribers that this content has been tagged" %>

  <p class="explain">
    Check this field if you'd like to notify subscribers that this content has been re-tagged.
    eg. This content is being added to a high priority finder and we wish to notify email
    subscribers for the finder that new guidance is being made available.
  </p>

  <%= f.input :notification_message,
              label: "Change note to for email notification",
              hint: "This message appears in the email body sent to subscribers explaining " +
                    "why they are receiving the email and what the change is about. " +
                    "This field does not accept markdown or HTML.",
              input_html: {
                placeholder: " eg. You’re getting this email because you subscribed to " +
                             "‘Brexit guidance for your business or organisation’ updates on GOV.UK.",
                size: 140,
              } %>


  <hr/>

  <%= f.submit I18n.t('taggings.update_facets'), class: "btn btn-lg btn-success" %>
<% end %>
