<% aggregated_tag_mappings.each do |aggregated_tagging| %>
  <tr>
    <td>
      <%= aggregated_tagging.content_base_path %>
    </td>
    <td>
      <% aggregated_tagging.links.each do |tag_link| %>
        <%= link_to tag_link.link_title, taxon_path(tag_link.link_content_id) %> (<%= tag_link.link_type %>)
        <br />
      <% end %>

      <% if aggregated_tagging.errored? %>
        <hr />
        <span class="error-message">
          <ul>
            <% aggregated_tagging.error_messages.each do |error_message| %>
              <li><%= error_message %></li>
            <% end %>
          </ul>
        </span>
      <% end %>
    </td>

    <td class="tag-mapping-status">
      <% aggregated_tagging.presented_tag_mappings.each do |tag_mapping| %>
        <%= state_label_for(label_type: tag_mapping.label_type, title: tag_mapping.state_title) %>
        <br>
      <% end %>
    </td>

    <td class="link-to-site">
      <%= link_to "View on site", website_url(aggregated_tagging.content_base_path) %>
    </td>
  </tr>
<% end %>
