<% percentage_complete = Integer((completed_tag_mappings / total_tag_mappings.to_f) * 100) %>
<div class="js-tag-update-progress" data-progress-path="<%= progress_path %>">

  <div class="progress">
    <div class="progress-bar <%= "progress-bar-striped active" unless percentage_complete == 100 %>"
      role="progressbar"
      aria-valuenow="<%= completed_tag_mappings %>"
      aria-valuemin="0"
      aria-valuemax="<%= total_tag_mappings %>"
      style="width: <%= percentage_complete %>%;">
      <span class="sr-only"><%= percentage_complete %>% Complete</span>
    </div>
  </div>

  <div class="progress-counter">
    <p>
      <%= I18n.t("views.tag_update_progress_bar", completed: completed_tag_mappings, total: total_tag_mappings) %>
    </p>
  </div>

</div>
