<% total = tag_mappings.count %>
<% percentage_complete = Integer((confirmed / total.to_f) * 100) %>
<div class="js-tag-update-progress" data-progress-path="<%= progress_path %>">

  <div class="progress">
    <div class="progress-bar <%= percentage_complete == 100 ? '' : 'progress-bar-striped active'%>"
      role="progressbar"
      aria-valuenow="<%= confirmed %>"
      aria-valuemin="0"
      aria-valuemax="<%= total %>"
      style="width: <%= percentage_complete %>%;">
      <span class="sr-only"><%= percentage_complete %>% Complete</span>
    </div>
  </div>

  <div class="progress-counter">
    <p>
      Create tags progress: <%= confirmed %> of <%= total %>
    </p>
  </div>

</div>
