<% content_for :head do %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :navbar_items do %>
  <li class='<%= active_navigation_item == 'taggings' ? 'active' : nil %>'>
    <%= link_to 'Tagging', lookup_taggings_path %>
  </li>
  <li class='<%= (active_navigation_item == 'taxons' || active_navigation_item == 'taxonomies') ? 'active' : nil %>'>
    <%= link_to 'Taxons', taxons_path %>
  </li>
  <li class='<%= active_navigation_item == 'tagging_spreadsheets' ? 'active' : nil %>'>
    <%= link_to 'Tag Importer', tagging_spreadsheets_path %>
  </li>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
