<% content_for :head do %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :navbar_items do %>
  <% if user_can_administer_taxonomy? %>
    <li class='<%= active_navigation_item == 'taggings' ? 'active' : nil %>'>
      <%= link_to t('navigation.tagging_content'), lookup_taggings_path %>
    </li>
  <% end %>

  <% if user_can_administer_taxonomy? %>
    <li class='<%= active_navigation_item.in?(%w[bulk_tags tag_migrations tagging_spreadsheets]) ? 'active' : nil %>'>
      <%= link_to t('navigation.bulk_tag'), new_bulk_tag_path %>
    </li>
  <% end %>

  <% if user_can_administer_taxonomy? %>
    <li class='<%= active_navigation_item.in?(%w[taxons taxon_migrations root_taxons]) ? 'active' : nil %>'>
      <%= link_to t('navigation.taxons'), taxons_path %>
    </li>
  <% end %>

  <% if user_can_access_tagathon_tools? %>
    <li class='<%= active_navigation_item == 'analytics' ? 'active' : nil %>'>
      <%= link_to t('navigation.analytics'), analytics_path %>
    </li>
  <% end %>

  <% if user_can_access_tagathon_tools? %>
    <li class='<%= active_navigation_item == 'projects' ? 'active' : nil %>'>
      <%= link_to t('navigation.projects'), projects_path %>
    </li>
  <% end %>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
